* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  overscroll-behavior: none;
  width: 100%;
}
section {
  position: relative;
}

.blog-class {
  list-style: square;
}
div#tsparticles {
  @media screen and (max-width: 440px) {
    opacity: 0.2;
  }
}

.errorPage {
  max-width: 800px;
  margin: 0 auto;
}

.errorAnimation {
  max-width: 730px;
  margin: 0 auto;
}
