.backContentImage {
  position: absolute;
  z-index: -1;
  animation: circle infinite 50s linear;
}
.backWrapperImage {
  position: absolute;
  height: 250px;
  width: 250px;
  left: 200px;
  @media screen and (max-width: 440px) {
    display: none;
  }
}
.backWrapperImageStars {
  position: absolute;
  height: 450px;
  width: 450px;
  right: 0px;
}
.backContentImageStars {
  position: absolute;
  z-index: -1;
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.firstSection {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .heading {
    position: relative;
    display: block;

    h2 {
      font-size: 4.8rem;
      text-align: center;
      margin-bottom: 140px;
      margin-top: 11rem;
    }
    span {
      position: relative;
      display: block;
      top: -10px;
      text-align: right;
    }
  }
  .content {
    .no {
      text-decoration: underline;
      font-size: 2rem;
      font-weight: bold;
    }
    p {
      line-height: 1.8;
      padding: 0 1rem;
    }
    .specs {
      margin-top: 4rem;

      &.visible {
        .spec img {
          opacity: 1;
          transform: translateY(0);
          transition: all ease-in-out 1s 0.7s;
        }
      }
    }
    .spec {
      display: flex;
      align-items: flex-start;
      gap: 2rem;
      margin-bottom: 1rem;
      @media screen and (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
        margin: 20px;
      }
      img {
        opacity: 0;
        transform: translate(-30px, 0);
      }
      p {
        padding: 0;
      }
      h3 {
        margin: 0;
        font-size: 2rem;
      }
    }
  }
}
.backgroundAnimation {
  display: flex;
  justify-content: center;
  padding: 2rem 0 0 0;
  position: absolute;
  z-index: -1;
  top: 0;
  ul {
    position: relative;
    li {
      position: absolute;
      top: 0;
    }
  }
}
.wrapperModal {
  position: relative;
  margin: 0 20px;
  display: inline-block;
  strong {
    display: inline-block;
    font-weight: 700;
    cursor: pointer;
  }
  .modal {
    position: absolute;
    top: -150%;
    left: -11px;
    z-index: 100;
    border-radius: 50%;
    overflow: hidden;
    height: 300px;
    width: 350px;
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-5px, 5px);
    transform: translate(-5px, 5px);
  }
  40% {
    -webkit-transform: translate(-5px, -5px);
    transform: translate(-5px, -5px);
  }
  60% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  80% {
    -webkit-transform: translate(5px, -5px);
    transform: translate(5px, -5px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
