.blog {
  margin: 4rem 0;
  h2 {
    font-size: 3rem;
    text-align: center;
  }
}
.homeBlog {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 800px;
  justify-content: space-between;
  @media screen and (max-width: 1024px) {
    justify-content: center;
    gap: 20px;
  }

  .boxCard {
    width: 240px;
    height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.7s;
    z-index: 1;
    &:hover {
      .front {
        transform: rotateY(180deg);
      }
      .back {
        transform: rotateY(0deg);
      }
    }
    img {
      z-index: -1;
    }
    .front,
    .back {
      position: absolute;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      -webkit-perspective: 0;
      -webkit-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      perspective: 1000px;
      transition: all ease-in-out 0.7s;
      border-radius: 10px;
      a {
        color: white;
      }
    }
    .front {
      background-color: #bbb;
      color: black;
      transform: rotateY(0deg);
    }

    .back {
      color: white;
      transform: rotateY(180deg);
      display: flex;
      justify-content: center;
      align-items: center;
      h3 {
        font-size: 1.3rem;
        width: 150px;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}
