.headerImage {
  z-index: -1;
}
.right {
  h3 {
    text-align: center;
  }
}
.contatti {
  //hack per quella megamerda di safari che non gestisce le rotazioni 3d. Senza parole
  position: relative;
  z-index: 1000;
}
.content {
  display: flex;
  max-width: 800px;
  align-items: center;
  margin: 0 auto;
  gap: 40px;
  padding: 16rem 0 16rem 0;
  color: white;
  justify-content: center;
  @media screen and (max-width: 550px) {
    flex-direction: column;
    padding: 16rem 20px;
  }
  h3 {
    font-size: 3rem;
    margin: 0;
    @media screen and (max-width: 440px) {
      font-size: 3rem;
      text-align: center;
    }
  }
}
.wrapperContatti {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  background: #ffffff0d;
  width: 340px;
  a {
    color: white;
  }
  .contatto {
    font-size: 60px;
    line-height: 0;
  }
}
.simboli {
  z-index: -1;
  max-width: 818px;
  margin: 0 auto;
  height: auto !important;
  top: 100px !important;
  right: 0 !important;
  left: auto !important;
}
