.navigation {
  position: absolute;
  padding: 2rem;
  top: 0;
  width: 100%;
  z-index: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  &.page {
  }
  a {
    color: white;
    text-decoration: none;
  }
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  ul {
    font-size: 1.5rem;
    margin-right: 3rem;
    @media screen and (max-width: 1024px) {
      margin-right: 0;
    }
    li {
      border: 1px solid;
      padding: 0.5rem 1rem;
      cursor: pointer;
    }
  }
}
